<div class="slider">
    <div class="slider__main">
        <div class="js-scroll slider__scroll">
            {{#each slides}}
                <div class="js-slide slider__block">
                    {{#each this}}
                        <div class="slider__block-item">
                            <div class="slider__thumb-item">
                                <img src="{{random_url images}}" alt="{{random_url images}}">
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
    <!--Prev button (di sable by default at start)-->
    <div class="js-prev slider__nav slider__nav--prev is-disabled">
        <button>&larr;</button>
    </div>

    <!--Next button -->
    <div class="js-next slider__nav slider__nav--next">
        <button>&rarr;</button>
    </div>
</div>

<div class="slider__pagination">
    {{#each slides as |value key|}}
        <a class="js-page-link slider__pagination-item {{#if @first}} is-active {{/if}}" data-id="{{@index}}" href="{{@index}}">{{increment @index}}</a>
    {{/each}}
</div>

