body {
  background: palegoldenrod;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
}

$w_slider: 800px;

.slider-placeholder {
  width:$w_slider;
  max-width: 100%;
  margin: 0 auto 0 auto;
  p.loader {
    padding: 5em 0;
    background: rgba(#fff, .3);
  }
}


.slider {
  position: relative;
  width:$w_slider;
  max-width: 100%;
  margin: 0 auto 0 auto;
}
.slider__main {
  width: 100%;
  overflow:hidden;
}

.slider__scroll {
  width: 99999px;
  position: relative;
  left:0;
}
.slider__block {
  float: left;
  width:$w_slider;
  max-width: 100%;
}

.slider__block-item {
  width: 25%;
  @media only screen and (max-width: $w_slider) {
    width: 25vw;
  }
  float: left;
}

.slider__thumb-item {
  overflow:hidden;
  float:left;
  position:relative;
  padding:100% 0 0 0;
  background:rgba(#fff, .2);
  width: 100%;
  img {
    position:absolute;
    color:#ccc;
    top:0;
    left:0;
    text-decoration:none;
    text-align:center;
    width:100%;
    height:100%;
    display:block;
    float:left;
  }
}


.slider__nav {
  $w: 40px;
  position: absolute;
  top:50%;
  margin-top:-$w/2;
  left:-$w/2;
  @media only screen and (max-width: $w_slider) {
    left: 1em;
  }
  z-index: 20;
  button {
    background: none;
    border:0;
    width: $w;
    height: $w;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    &:hover {
      background: rgba(red, .7);
      color: #fff;
    }
  }
  &--next {
    left: auto;
    right: -$w/2;
    @media only screen and (max-width: $w_slider) {
      right: 1em;
    }
  }

  &.is-disabled {
    button {
      opacity: .4;
      &:hover {
        background: rgba(#ccc, .6);
      }
    }
  }
}


.slider__pagination {
  width: 100%;
  padding: 1em 0 0 0;
}

.slider__pagination-item {
  display: inline-block;
  $w: 40px;
  width: $w;
  height: $w;
  line-height: $w;
  text-decoration: none;
  background: #fff;
  color: #666;
  border-radius: 50%;
  &.is-active {
    background: rgba(red, .7);
    color: #fff;
  }
}
